{% extends 'base.html' %}<title>About</title>

<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="/static/css/about.css" /></head
>{% block content %}
<div class="container">
  <div class="row">
    <h1 class="about">About WebDev International</h1>
    <center class="body">
      <p>
        WebDev International is an organization that provides website creation and development services to individuals and businesses.
      </p>
      <p>
        We are a team of web developers who are passionate about creating websites that are easy to use and easy to maintain.
      </p>
    </center>
  </div>
</div>
{% endblock %}
