{% extends 'base.html' %}<title>About</title>

<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="/static/css/about.css" /></head
>{% block content %}
<header><title>About</title></header>

<div class="container">
  <div class="row">
    <h1 class="about">About WebDev International</h1>
    <center class="body">
      <p>
        WebDev International is an organization that provides website creation
        and development services to individuals and businesses.
      </p>
      <p>
        We are a team of web developers who are passionate about creating
        websites that are easy to use and easy to maintain.
      </p>
    </center>
    <div class="container">
      <div class="row">
        <h1 class="about">
          <center><strong style="font-size: 20px"></strong></center>
          Helping you to turn your ideas into reality
        </h1>
        <p>
          We are a team of web developers who are passionate about creating<br />
          websites that are pleasing to the customer. we focus on the MERN<br />
          stack and enjoy helping others build their websites. If you are
          just<br />
          a curious George, and are curious on the languages used. we focus
          on<br />
          the languages listed below.
        </p>

        <br />
        <br />
        <strong
          >Why
          <a href="https://realpython.com/world-class-companies-using-python/"
            >Python?</a
          ></strong
        >
        <p>Python for websites offers dynamic typing capabilities.</p>
        <br />
        <br />
        <strong
          >Why
          <a
            href="https://icts.io/2020/12/23/8-popular-websites-built-with-django-framework/"
          >
            Django?</a
          ></strong
        >
        <p>
          Django is a high-level Python web framework that encourages rapid
          development and clean, pragmatic design.
        </p>
        <br />
        <br />
        <strong
          >Why
          <a
            href="https://www.thirdrocktechkno.com/blog/top-10-famous-websites-built-with-react-js-in-2021/"
          >
            React?</a
          ></strong
        >
        <p>
          React JS is a JavaScript library used in web development to build
          interactive elements on websites.
        </p>
        <center>
          <p></p>
        </center>
      </div>
    </div>
  </div>
</div>
<footer>
  <a href="http://secure.rosehosting.com/clientarea/?affid=1634"
    >Hosted by RoseHosting.com</a
  >
</footer>
{% endblock %}
