<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
  {% comment %} <link rel="stylesheet" type="text/css" href="/static/css/base.css" /> {% endcomment %}
    <center class="header-image">
      <img
      src="https://scontent-dfw5-1.xx.fbcdn.net/v/t39.30808-6/284250462_102762672460267_4572876627100902996_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=e3f864&_nc_eui2=AeGaTGQ37PoMTMNXRjxZtzpbdUQoxt2Ac7B1RCjG3YBzsD3mxaQ8e3Y7FuTbjoJ0BHxliKxq5OKxu89jtbNuLq9T&_nc_ohc=M2RoVT2I2XoAX8da9M0&_nc_ht=scontent-dfw5-1.xx&oh=00_AT-d3JGtx8TzFvdPOsrlKlufRuPFbvxpR8v5IK5-_E16uQ&oe=6295CAA3"/>
    </center>

    </head>
  <body>
  {% include 'navbar.html' %} {% block content %} {% endblock %}
  </body>
</html>
