{% extends 'base.html' %} {% block content %}
<center><h1 class="contact">Contact Us</h1></center>
<div>
  John Cook
  <br />
  123 Main Street
  <br />
  Anytown, USA
  <br />
  (555) 555-5555
  <br />
  <br />
  Derek Savoie
  <br />
  123 Main Street
  <br />
  Anytown, USA
  <br />
  (555) 555-5555
  <br />
  <br />
</div>
<h4>
  Email Us at <br />
  webdev.international.contact@gmail.com
</h4>
<h4>
  Or visit us on
  <a href="https://www.facebook.com/WebDev-International-101579502578584"
    >Facebook</a
  >.
</h4>
{% endblock %}}
