{% extends 'base.html' %}<title>Services</title>

{% block content %}
<header><title>Services</title></header>

<h1>Services</h1>
<small><small><small></small></small></small>
<div class="services">
    <div class="services-1">
        <center>
            <h2>BRONZE</h2>
            <div>Includes
                <ul>
                    <li>up to 3 revisions to your website</li>
                    <li>Website Maintenance</li>
                    <li>Single Static Page</li>
                    <li>Shared / Hosting</li>
                    <ul>
            </div>
        </center>
        <small>
            <small>
                Simple website design you can use to grow your business.
            </small>
        </small>
    </div>

    <br />
    <br />
    <div class="services-2">
        <center>
            <h2>GOLD</h2>
            <div>Includes
                <ul>
                    <li>up to 5 revisions to your website</li>
                    <li>Website Maintenance</li>
                    <p style="color: red">PLUS</p>
                    <li>Static or Dynamic Page</li>
                    <li>Upgraded Hosting</li>
                    <li></li>
                    <ul>
            </div>
        </center>
        <small>
            <small>
                good for small businesses trying maximize their potential.
            </small>
        </small>

    </div>
    <br />
    <br />
    <div class="services-3">
        <center>
            <h2>PLATINUM</h2>
            <div>Includes
                <ul>
                    <li>up to 10 revisions to your website<br> per year</li>
                    <li>Website Maintenance</li>
                    <p style="color: red">PLUS</p>
                    <li>Static or Dynamic Page</li>
                    <li>Dedicated / Hosting</li>
                    <li>2</li>
                    <li>3</li>
                    <ul>
            </div>
        </center><small>
            <small>
                good for eccomerce websites, blogs, and other large businesses.
            </small>
        </small>
    </div>
</div>
<br />
<br />
<br />
<br />
<div> <a href="/contact"> Need assistance with Logo and branding ?</a></div>
{% endblock %}